body 
{
 font-family: Helvetica; 
}

header
{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("pattern.webp");
  margin: 20px;
}

.title
{
 font-size: 32px;
 font-weight: bold;
 color: white; 
 margin: 5px;
}

#brushes
{
  background-color: mediumspringgreen;
}

#frames
{
  background-color: lightcoral;
}

#paint
{
  background-color: skyblue;
}

.blue
{
 font-weight: bold;
  color: blue;
}
